@import 'utilities';
@import 'config';
body {
    font-family: $font-stack;
    font-size: $font-size;
    line-height: $line-height;
    margin: 0;
    padding: 0;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 2rem;
    & h1 {
        font-size: 72px;
        font-family: 'Big Shoulders Stencil Text', cursive;
        background: -webkit-linear-gradient(#9fd8d2, #009688);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

form {
    width: 80%;
    margin: auto;
    label {
        display: block;
        margin: 3rem 0 1rem;
    }
    input {
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-bottom: solid 1px gray;
        outline: none;
        width: 100%;
    }
}

button {
    display: block;
    border: none;
    outline: none;
    margin: 2rem 0;
    width: 100%;
    padding: 0.7rem;
    border-radius: 5px;
    box-shadow: $btn-shadow;
    transition: all 0.3s ease;
    background: $cyan;
    color: $white;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.sign-in {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: opacity 0.5s;
    width: 100%;
    margin: auto;
    & h2 {
        margin: 2rem 0 2.5rem;
    }
}

.sign-up {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
    animation: opacity 0.5s;
}

@keyframes opacity {
    from {
        opacity: 0.4;
        left: -600px;
    }
    to {
        opacity: 1;
        left: 0;
    }
}

.sign,
.signUp {
    color: $cyan;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        opacity: 0.8;
        text-decoration: underline;
    }
}

// Other
.brand-logo {
    font-family: 'Big Shoulders Stencil Text', cursive;
}

.btn- {
    width: 60%;
}

.follow {
    padding: 0.1rem 0 1rem;
    .fa-3x {
        margin: 1rem 0.3rem;
    }
}

#gallery {
    .responsive-img {
        margin-bottom: 0.5rem;
        width: 100%;
        height: 230px !important;
        .responsive-img img {
            width: 100%;
            height: 100% !important;
        }
    }
}

#popular-places {
    margin-bottom: 2rem;
    position: relative;
    .select {
        width: 150px;
        position: relative;
        left: 10px;
    }
}

.footer {
    padding: 1rem 0;
}

.bold-text {
    font-weight: bolder;
}

.card-content {
    color: #000000;
}

.prod-1 {
    cursor: pointer;
    &:hover {
        transform: scale(0.99);
    }
}

.produce {
    display: none;
}

.current {
    display: block;
    animation: meee 0.5s;
}

@keyframes meee {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

.pay {
    margin: 2rem auto 0;
}

.chevron {
    margin-left: 0.5rem;
    padding: 1rem;
    color: $cyan;
    font-size: 15px;
    cursor: pointer;
    & a {
        color: $cyan;
        text-decoration: none;
    }
    &:hover {
        opacity: 0.8 !important;
    }
}

.sign-in-out {
    display: flex;
}

.sign-in-in {
    display: none;
}

.profile {
    margin: 3rem auto;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .det-01 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    & h6 {
        text-transform: uppercase;
        padding-left: 0.5rem;
    }
}

hr {
    margin: 1rem 0;
}

.item {
    padding-bottom: 0.5rem;
}

.slider .slides li img {
    opacity: 0.9;
    background-color: black !important;
}

.caption p {
    margin-bottom: 1rem;
    font-size: 15px;
}

@import 'media';