<form class="form-01" action="{{url_for('auth.login')}}" method="post" novalidate>
    {{login_form.hidden_tag()}}
    <label for="mail">E-mail</label>
    <input type="mail" name="l_email" />
    <label for="password">Password</label>
    <input type="password" name="l_password_b" />
    <button type="submit" class="btn btn-sign-in" name="l_submit_b">Sign In</button>
    {{login_form.l_submit_b()}}
</form>

<form class="form-02" method="post" action="">
    {{register_form.hidden_tag()}}
    <label for="name">Name</label>
    <input type="name" name="name" />
    <label for="mail">E-mail</label>
    <input type="mail" name="mail" />
    <label for="password">Password</label>
    <input type="password" name="password" />
    <button type="submit" class="btn btn-sign-up" name="submit_b">Sign Up</button>
</form>
